*.o
*.oo
BLACS/INSTALL/cmake_install.cmake
BLACS/INSTALL/Makefile
BLACS/INSTALL/x*
TESTING/x*
REDIST/TESTING/x*
PBLAS/TESTING/x*
PBLAS/TESTING/PB_Cabort.c
PBLAS/TESTING/PB_Cwarn.c
PBLAS/TIMING/x*tim
PBLAS/TIMING/PB_Cabort.c
PBLAS/TIMING/PB_Cwarn.c
*.a
BLACS/TESTING/xCbtest
BLACS/TESTING/xFbtest
SLmake.inc

